.card {
  border: none;
}

.bg-footer {
  background-color: rgb(242, 240, 240);
}

.text-no-deco {
  text-decoration: none;
  color: rgb(242, 240, 240);
}

.card-header {
  background-color: rgb(242, 240, 240);
}

.bg-cena {
  background-color: rgb(181, 220, 255);
  border-radius: 20px;
}

.p-10 {
  padding: 1px;
}

.star {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  color: #ffc107;
}

.star::before {
  content: "★★★★★";
  letter-spacing: 3px;
}

.star::after {
  content: "★★★★★";
  letter-spacing: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  overflow: hidden;
  color: #ffc107;
}

#myCarousel {
  max-width: 640px;
  margin: 0 auto;
}

#myCarousel .f-carousel__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  text-decoration: none;
  color: #6c757d;
}

.step .circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #d6d6d6;
  color: white;
  font-weight: bold;
}

.step.active .circle {
  background-color: #007bff;
}

.step-line {
  width: 50px;
  border-top: 2px solid #d6d6d6;
  margin: 0;
}

.step .circle.active + .step-line {
  border-color: #007bff;
}

.step:hover .circle {
  background-color: #0056b3;
  color: white;
}

.step.active span {
  font-weight: bold;
  color: #007bff;
}