.card {
  border: none;
}

.bg-footer {
  background-color: rgb(242, 240, 240);
}

.text-no-deco {
  text-decoration: none;
  color: rgb(242, 240, 240);
}

.card-header {
  background-color: rgb(242, 240, 240);
}

.bg-cena {
  background-color: rgb(181, 220, 255);
  border-radius: 20px;
}

.p-10 {
  padding: 1px;
}

.star {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  color: #ffc107;
}

.star::before {
  content: "★★★★★";
  letter-spacing: 3px;
}

.star::after {
  content: "★★★★★";
  letter-spacing: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  overflow: hidden;
  color: #ffc107;
}

#myCarousel {
  max-width: 640px;
  margin: 0 auto;
}

#myCarousel .f-carousel__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}